

html,
body {
height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
/* Negative indent footer by it's height */
margin: 0 auto -60px;
}

#page_title
{ border-bottom: 1px solid #eee;}

/* Set the fixed height of the footer here */
#push,
#footer {
height: 60px;
}
#footer {
background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

.container {
    width: auto;
    max-width: 680px;
}

.container .credit {
margin: 20px 0;

max-width: 680px;
}

.input-append .search-query {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    padding-right: 2px;
}
.input-append button:last-child{
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

div.claerfix {
  margin-top: 10px;
}

div.primaries span {
  margin-right: 15px;
  font-size: 120%;
}

div.meaning .example{
  font-style: italic;
}

div.webDefinitions li a {
  display: block;
}

div.synonyms div.related {
  clear: both;
}

div.synonyms div.related ul li div{
  display: inline;
}

div.synonyms div.related ul li {
  float: left;
  width: auto;
  display: inline;
  margin-left: 16px;
}

