<html>
<head>
</head>
    <body>
    <bgsound1 style="display: none" src="http://www.gstatic.com/dictionary/static/sounds/de/0/branch.mp3" />
        <a onclick="e()" href="#">lalala</a>
        <div id="show"></div>
        <img1 id='sou' dynsrc1="http://www.gstatic.com/dictionary/static/sounds/de/0/branch.mp3"  start="mouseover" src="https://www.google.com/images/srpr/logo3w.png" style="display: n1one" />
        <script>
        function d(){
            document.getElementById('sou').style.display = 'inline'
        }
        function e(){
            var e=document.createElement('bgsound');
            e.setAttribute('src', 'http://www.gstatic.com/dictionary/static/sounds/de/0/branch.mp3')
            document.appendChild(e)

        }
        </script>
    </body>
</html>