<!DOCTYPE html>
<html>
  <head>
    <title>def: Find the definition for any lookup! - def.est.im</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet" media="screen">
    <!--[if IE 7]>
    <link href="/static/css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->
  </head>
  <body>
    <div id="wrap">
      <div class="row container">
        <div id="pageTitle" class="page-header"><h1>def:</h1></div>
        <form class="form-search" action="/">
          <div class="input-append">
            <input name="q" type="text" class="search-query span4" placeholder="Search" x-webkit-speech value="{{ query }}" />
            <button class="btn" type="submit"><span class="icon-search"></span></button>
          </div>
        </form>
        {% if req.json %}<div id="content"><pre><code></code></pre></div>{% endif %}
        <div id="gdictContent"></div>

      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Created by <a href="http://est.im">est</a>.</p>
      </div>
    </div>


    <script src="/static/js/jquery-1.9.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script language="javascript"><!--
      var query = "{{ query }}";
      var url = "";



      function showGDict(data, code, msg){
        if(code==200){
          // lastQuery = data;  global var
          {% if req.json %}$('#content pre code').text(JSON.stringify(data, null, 4));{% endif %}
          var cDiv = $('#gdictContent')
          if (data.spellings){
            // spellings

          } else if(data.primaries && data.primaries.length==1){
            // primaries
            var sec=cDiv.append('<div></div>').attr('class', 'primaries')
            $.each(data.primaries[0].terms, function(i){
              if(this.type.toLowerCase()=='sound'){
                cDiv.append($('<i></i>)').attr({
                  'url': this.text,
                  'class': 'icon-volume-up',
                }))
              }
              else if(this.type=='text'){

                var t = cDiv.append( $("<span></span>").text(this.text));
                $.each(this.labels, function(){
                    t.append( $("<span></span>").attr(
                      'title', this.title).text(this.text).get())
                })
              }
              else{
                cDiv.append( $("<span></span>").text(this.text).attr('class', this.type))
              }
            })
          } else if(data.monoPrimaries){

          } else if(data.synonyms){

          } else if(data.relatedPhrases){

          } else if(data.webTranslations){

          } else if(data.examples){

          } else if(data.webDefinitions){

          } else if(data.images){

          }
        }
      }
    --></script>
    {% if query %}
    <script src="//www.google.com/dictionary/json?callback=showGDict&sl=en&tl=en&restrict=pr,sy,de&q={{query}}"></script>
    {% endif %}
  </body>
</html>