<IfModule mod_rewrite.c>
RewriteEngine On
RewriteLog "/logs/rewrite_log-%Y%m%d-%H%M%S-%Z"
RewriteBase /
RewriteCond %{DOCUMENT_ROOT}/static/root%{REQUEST_URI} -e
RewriteRule ^(.*)$ static/root/$1 [L]
</IfModule>
